.form__submit-button_text_center {
  margin: 0 124px 0 125px;
  padding: 0;
  width: 109px;
  height: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .form__submit-button_text_center {
    min-width: 74px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 425px) {
  .form__submit-button_text_center {
    width: 74px;
    margin-left: 82px;
    margin-right: 82px;
  }
}