.elements {
  margin: 47px auto 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 880px;
  min-height: 50px;
  gap: 17px;
}

@media screen and (max-width: 1024px) {
  .elements {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 569px;
    gap: 5px;
  }
}

@media (min-width: 426px) and (max-width: 591px) {
  .elements {
    max-width: 282px;
    gap: 17px;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    margin-top: 36px;
    min-height: 2268px;
  }
}