.profile__avatar {
  position: relative;
  margin: 0;
  padding: 0;
  margin: 3.75px 26.25px 3.75px 22.5px;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}

.profile__avatar:hover::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 22.5px;

  width: 120px;
  height: 120px;

  background: rgba(0, 0, 0, 0.5);
  background-image: url("../../../images/Vector-edit.svg");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .profile__avatar {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    margin-right: 99px;
    margin-left: 101px;
  }
}