.add-button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 35px 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  opacity: 1;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .add-button {
    width: 282px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .add-button {
    margin-top: 0px;
     margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
   .add-button {
    margin-top: 0px;
     margin-right: auto;
    margin-left: auto;
    text-align: center;
     align-self: center; 
  }
}